.emailList{
    flex:1;
    overflow: scroll;
    /* height: 100px; */
}
.emailList__settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailList__section{
    position: sticky;
    display: flex;
    top: 0;
}